flows.json
[
    {
        "id": "ebd507082ead5a6e",
        "type": "tab",
        "label": "Sensor de flujo de agua",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bdd40c2e4ca0e3d6",
        "type": "tab",
        "label": "Relevador",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "201d42be487cd05b",
        "type": "tab",
        "label": "Senso nivel de agua",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f86c3ca249aafbb",
        "type": "tab",
        "label": "Sensor humedad del suelo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58e8acd2af0fc2ef",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0db620e6516a50ee",
        "type": "postgreSQLConfig",
        "name": "postgress_i5ux",
        "host": "dpg-cvmbam95pdvs73ev2f0g-a.oregon-postgres.render.com",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgress_i5ux",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgress",
        "userFieldType": "str",
        "password": "ibYkjJdcmL8ld6G6d5Lp6cNamTDOLDJY",
        "passwordFieldType": "str"
    },
    {
        "id": "ui_dashboard_group",
        "type": "ui_group",
        "name": "Monitoreo de flujo de agua",
        "tab": "ui_dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_dashboard_tab",
        "type": "ui_tab",
        "name": "Gasto de agua",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cdd1227a2ec8bb14",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aa20f74beae7360f",
        "type": "ui_group",
        "name": "Control de bomba",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af90df2d66e6ce83",
        "type": "ui_spacer",
        "z": "ebd507082ead5a6e",
        "name": "spacer",
        "group": "aa20f74beae7360f",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "306517569a2a554f",
        "type": "ui_spacer",
        "z": "ebd507082ead5a6e",
        "name": "spacer",
        "group": "aa20f74beae7360f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "eacb07a441bb4fae",
        "type": "ui_spacer",
        "z": "ebd507082ead5a6e",
        "name": "spacer",
        "group": "aa20f74beae7360f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "6231d6d7a04b6b61",
        "type": "ui_spacer",
        "z": "ebd507082ead5a6e",
        "name": "spacer",
        "group": "aa20f74beae7360f",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "7f12a8951ab97da4",
        "type": "postgresql",
        "z": "ebd507082ead5a6e",
        "name": "postgress_i5ux",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES ('1','3','{{{msg.payload}}}');",
        "postgreSQLConfig": "0db620e6516a50ee",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 620,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ca7d6aecf0390656",
        "type": "mqtt in",
        "z": "ebd507082ead5a6e",
        "name": "",
        "topic": "sistema_de_riego_inteligente/placa_1_agua",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58e8acd2af0fc2ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "7f12a8951ab97da4",
                "6ff1f6c2046938b4",
                "82466ce6e4162c91"
            ]
        ]
    },
    {
        "id": "6ff1f6c2046938b4",
        "type": "ui_gauge",
        "z": "ebd507082ead5a6e",
        "name": "Flujo de Agua",
        "group": "ui_dashboard_group",
        "order": 2,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Flujo de agua a tiempo real",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "82466ce6e4162c91",
        "type": "ui_chart",
        "z": "ebd507082ead5a6e",
        "name": "",
        "group": "ui_dashboard_group",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Gasto de agua por semana",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "564c6a923f052105",
        "type": "postgresql",
        "z": "bdd40c2e4ca0e3d6",
        "name": "postgress_i5ux",
        "query": "INSERT INTO actuator_details (actuator_id, user_id, value) VALUES ('1','3','{{{msg.payload}}}');",
        "postgreSQLConfig": "0db620e6516a50ee",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "11fbc30443fe3a0c",
        "type": "mqtt in",
        "z": "bdd40c2e4ca0e3d6",
        "name": "ValorRelevador",
        "topic": "sistema_de_riego_inteligente/placa_1_rele",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58e8acd2af0fc2ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "564c6a923f052105",
                "16aa976e817286a6"
            ]
        ]
    },
    {
        "id": "16aa976e817286a6",
        "type": "ui_switch",
        "z": "bdd40c2e4ca0e3d6",
        "name": "Control manual de la bomba de agua",
        "label": "Control manual de la bomba de agua",
        "tooltip": "",
        "group": "ui_dashboard_group",
        "order": 10,
        "width": 5,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "sistema_de_riego_inteligente/placa_1_rele/set",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "4440356d0df79f7e"
            ]
        ]
    },
    {
        "id": "4440356d0df79f7e",
        "type": "mqtt out",
        "z": "bdd40c2e4ca0e3d6",
        "name": "Control Relevador",
        "topic": "sistema_de_riego_inteligente/placa_1_rele/set",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58e8acd2af0fc2ef",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "0a61aa2e8af9a9e0",
        "type": "mqtt in",
        "z": "201d42be487cd05b",
        "name": "Lectura Nivel Agua",
        "topic": "sensor/nivel_agua",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58e8acd2af0fc2ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "5dcd3dcf2c769b17",
                "c018587711c6982a"
            ]
        ]
    },
    {
        "id": "5dcd3dcf2c769b17",
        "type": "postgresql",
        "z": "201d42be487cd05b",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES ('3','1','{{{msg.payload}}}');",
        "postgreSQLConfig": "0db620e6516a50ee",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "172ade43e97eeaf0",
        "type": "ui_toast",
        "z": "201d42be487cd05b",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "sensor/nivel_agua",
        "name": "Sensor nivel de agua",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "c018587711c6982a",
        "type": "function",
        "z": "201d42be487cd05b",
        "name": "function 1",
        "func": "let valor = parseInt(msg.payload);\n\nif (isNaN(valor)) {\n    msg.payload = \"❌ Valor inválido recibido\";\n} else if (valor > 2000) {\n    msg.payload = \"🌧️ Notificación de lluvia:\\n¡Está lloviendo!\";\n} else {\n    msg.payload = \"☀️ Notificación de lluvia:\\nNo está lloviendo.\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "172ade43e97eeaf0"
            ]
        ]
    },
    {
        "id": "b29bb0e973373857",
        "type": "mqtt in",
        "z": "0f86c3ca249aafbb",
        "name": "Sensor humedad del suelo",
        "topic": "sensor/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58e8acd2af0fc2ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "d18da6028e201da1"
            ]
        ]
    },
    {
        "id": "e69d5fdb31334ce2",
        "type": "postgresql",
        "z": "0f86c3ca249aafbb",
        "name": "",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES ('2','1','{{{msg.payload}}}');",
        "postgreSQLConfig": "0db620e6516a50ee",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 630,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d18da6028e201da1",
        "type": "function",
        "z": "0f86c3ca249aafbb",
        "name": "function 2",
        "func": "let rawValue = Number(msg.payload);\n\nlet humedad = Math.round(((4095 - rawValue) / 4095) * 100);\n\nmsg.payload = humedad; \nmsg.topic = \"Humedad\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "e69d5fdb31334ce2",
                "3c3db10294ce8de2"
            ]
        ]
    },
    {
        "id": "3c3db10294ce8de2",
        "type": "ui_gauge",
        "z": "0f86c3ca249aafbb",
        "name": "",
        "group": "ui_dashboard_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad del Suelo",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 260,
        "wires": []
    }
]